# Classificador K-means com os dados do ENADE

## Alterar valores para se utilizar o K-means

### 1. Inicialmente abrir o arquivo 'data/enade_merge_08-11-14-17.csv'

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('data/enade_merge_08-11-14-17.csv', sep=',')

data

,ano,curso,nome_curso,uf,regiao,codigo_IES,categoria_adm_IES,organizacao_academica,turno,ead_presencial,...,moradia,pessoas_moradia,ensino_medio,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,idade_comeco_graduacao,tempo_ocioso,tempo_cursado
0,2008,56172,SI,BA,NE,385,IES privada,Universidade,Noturno,Não-Informado,...,Parentes,Uma,Outro,Todas,Todas,Nenhum,Boa,18,1,6
1,2008,8913,SI,RS,S,426,IES privada,Centro Universitário,Noturno,Não-Informado,...,Parentes,Uma,Outro,Maior parte,Maior parte,Maior parte,Boa,20,4,4
2,2008,10978,SI,RS,S,532,IES privada,Universidade,Noturno,Não-Informado,...,Outras pessoas,Nenhuma,Outro,Maior parte,Maior parte,Maior parte,Regular,25,6,2
3,2008,20469,SI,PR,S,197,IES privada,Faculdade,Noturno,Não-Informado,...,Parentes,Nenhuma,Outro,Nenhuma,Nenhuma,Nenhum,Muito fraca,21,5,3
4,2008,47985,ADS,SP,SE,1743,IES privada,Faculdade,Noturno,Não-Informado,...,Parentes,Uma,Outro,Algumas,Algumas,Somente alguns,Muito boa,18,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132577,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Parentes,Quatro,EM tradicional,Todas,Todas,Maior parte,Muito boa,18,1,2
132578,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Sozinho,Nenhuma,EM tradicional,Maior parte,Maior parte,Somente alguns,Regular,23,5,2
132579,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Parentes,Três,EM tradicional,Todas,Todas,Somente alguns,Regular,34,9,1
132580,2017,5001284,LCC,SC,S,494,IES privada,Universidade,Integral,EAD,...,Parentes,Três,EM tradicional,Nenhuma,Todas,Todos aspectos,Muito boa,23,6,2
132581,2017,5001284,LCC,SC,S,494,IES privada,Universidade,Integral,EAD,...,Sozinho,Uma,EM tradicional,Todas,Todas,Todos aspectos,Muito boa,32,15,2

### 2. Informações sobre os dados

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ano                             132582 non-null  int64
 1   curso                           132582 non-null  int64
 2   nome_curso                      132582 non-null  object
 3   uf                              132582 non-null  object
 4   regiao                          132582 non-null  object
 5   codigo_IES                      132582 non-null  int64
 6   categoria_adm_IES               132582 non-null  object
 7   organizacao_academica           132582 non-null  object
 8   turno                           132582 non-null  object
 9   ead_presencial                  132582 non-null  object
 10  nota_geral                      132582 non-null  float64
 11  nota_formacao_geral             132582 non-null  float64
 12  nota_obj_formacao_geral         132582 non-null  float64
 13  nota_dis_formacao_geral         132582 non-null  float64
 14  nota_componente_especifico      132582 non-null  float64
 15  nota_obj_componente_especifico  132582 non-null  float64
 16  nota_dis_componente_especifico  132582 non-null  float64
 17  formatura_ensino_medio          132582 non-null  int64
 18  inicio_graduacao                132582 non-null  int64
 19  tipo_ensino_medio               132582 non-null  object
 20  idade                           132582 non-null  int64
 21  range_idade                     132582 non-null  object
 22  sexo                            132582 non-null  object
 23  cor_raca                        132582 non-null  object
 24  escolaridade_pai                132582 non-null  object
 25  escolaridade_mae                132582 non-null  object
 26  renda_familiar                  132582 non-null  object
 27  cotas                           132582 non-null  object
 28  recebeu_cota                    132582 non-null  object
 29  bolsa_academica                 132582 non-null  object
 30  recebeu_bolsa                   132582 non-null  object
 31  trabalha                        132582 non-null  object
 32  livros_ano                      132582 non-null  object
 33  horas_estudo                    132582 non-null  object
 34  estado_civil                    132582 non-null  object
 35  moradia                         132582 non-null  object
 36  pessoas_moradia                 132582 non-null  object
 37  ensino_medio                    132582 non-null  object
 38  condicoes_salas_estudantes      132582 non-null  object
 39  condicoes_praticas_materiais    132582 non-null  object
 40  plano_ensino                    132582 non-null  object
 41  avaliacao_curso                 132582 non-null  object
 42  idade_comeco_graduacao          132582 non-null  int64
 43  tempo_ocioso                    132582 non-null  int64
 44  tempo_cursado                   132582 non-null  int64
dtypes: float64(7), int64(9), object(29)
memory usage: 45.5+ MB

### 3. Remoção das colunas que não serão utilizadas

In [21]:
dropColumns = ['curso', 'codigo_IES', 'organizacao_academica', 'ead_presencial', 'formatura_ensino_medio', 'inicio_graduacao', 'range_idade', 'renda_familiar', 'cotas', 'bolsa_academica', 'nota_formacao_geral', 'nota_obj_formacao_geral', 'nota_dis_formacao_geral', 'nota_componente_especifico', 'nota_obj_componente_especifico', 'nota_dis_componente_especifico']
data.drop(dropColumns, axis=1, inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ano                           132582 non-null  int64
 1   nome_curso                    132582 non-null  object
 2   uf                            132582 non-null  object
 3   regiao                        132582 non-null  object
 4   categoria_adm_IES             132582 non-null  object
 5   turno                         132582 non-null  object
 6   nota_geral                    132582 non-null  float64
 7   tipo_ensino_medio             132582 non-null  object
 8   idade                         132582 non-null  int64
 9   sexo                          132582 non-null  object
 10  cor_raca                      132582 non-null  object
 11  escolaridade_pai              132582 non-null  object
 12  escolaridade_mae              132582 non-null  object
 13  recebeu_cota                  132582 non-null  object
 14  recebeu_bolsa                 132582 non-null  object
 15  trabalha                      132582 non-null  object
 16  livros_ano                    132582 non-null  object
 17  horas_estudo                  132582 non-null  object
 18  estado_civil                  132582 non-null  object
 19  moradia                       132582 non-null  object
 20  pessoas_moradia               132582 non-null  object
 21  ensino_medio                  132582 non-null  object
 22  condicoes_salas_estudantes    132582 non-null  object
 23  condicoes_praticas_materiais  132582 non-null  object
 24  plano_ensino                  132582 non-null  object
 25  avaliacao_curso               132582 non-null  object
 26  idade_comeco_graduacao        132582 non-null  int64
 27  tempo_ocioso                  132582 non-null  int64
 28  tempo_cursado                 132582 non-null  int64
dtypes: float64(1), int64(5), object(23)
memory usage: 29.3+ MB

### 4. Alteração dos atributos numéricos

In [22]:
data.loc[data['sexo'] == 'M', 'sexo'] = 1
data.loc[data['sexo'] == 'F', 'sexo'] = 0

data['sexo'].value_counts()

1    111927
0     20655
Name: sexo, dtype: int64

In [23]:
data.loc[data['recebeu_cota'] == 'Sim', 'recebeu_cota'] = 1
data.loc[data['recebeu_cota'] == 'Não', 'recebeu_cota'] = 0

data['recebeu_cota'].value_counts()

0    110675
1     21907
Name: recebeu_cota, dtype: int64

In [24]:
data.loc[data['recebeu_bolsa'] == 'Sim', 'recebeu_bolsa'] = 1
data.loc[data['recebeu_bolsa'] == 'Não', 'recebeu_bolsa'] = 0

data['recebeu_bolsa'].value_counts()

0    116609
1     15973
Name: recebeu_bolsa, dtype: int64

In [25]:
# os valores: 'Não' e 'Não-Informado' serão o mesmo
data.loc[data['trabalha'] == 'Sim', 'trabalha'] = 1
data.loc[
    (data['trabalha'] == 'Não') | 
    (data['trabalha'] == 'Não-Informado'),
    'trabalha'
] = 0

data['trabalha'].value_counts()

1    99273
0    33309
Name: trabalha, dtype: int64

In [26]:
data.loc[data['livros_ano'] == '0', 'livros_ano'] = 0
data.loc[data['livros_ano'] == '1/2', 'livros_ano'] = 1
data.loc[data['livros_ano'] == '3-5', 'livros_ano'] = 2
data.loc[data['livros_ano'] == '6-8', 'livros_ano'] = 3
data.loc[data['livros_ano'] == '8+', 'livros_ano'] = 4

data['livros_ano'].value_counts()

1    48901
2    33803
0    30409
4    10619
3     8850
Name: livros_ano, dtype: int64

In [27]:
data.loc[data['horas_estudo'] == '0', 'horas_estudo'] = 0
data.loc[data['horas_estudo'] == '<3', 'horas_estudo'] = 1
data.loc[data['horas_estudo'] == '3-8', 'horas_estudo'] = 2
data.loc[data['horas_estudo'] == '8+', 'horas_estudo'] = 3

data['horas_estudo'].value_counts()

1    55170
2    36151
3    23695
0    17566
Name: horas_estudo, dtype: int64

In [28]:
data.loc[
    (data['pessoas_moradia'] == 'Não-Informado') | 
    (data['pessoas_moradia'] == 'Outro'),
    'pessoas_moradia'
] = 0

data.loc[data['pessoas_moradia'] == 'Nenhuma', 'pessoas_moradia'] = 1
data.loc[data['pessoas_moradia'] == 'Uma', 'pessoas_moradia'] = 2
data.loc[data['pessoas_moradia'] == 'Duas', 'pessoas_moradia'] = 3
data.loc[data['pessoas_moradia'] == 'Três', 'pessoas_moradia'] = 4
data.loc[data['pessoas_moradia'] == 'Quatro', 'pessoas_moradia'] = 5
data.loc[data['pessoas_moradia'] == 'Cinco', 'pessoas_moradia'] = 6
data.loc[data['pessoas_moradia'] == 'Seis', 'pessoas_moradia'] = 7
data.loc[data['pessoas_moradia'] == 'Mais de seis', 'pessoas_moradia'] = 8

data['pessoas_moradia'].value_counts()

4    34679
3    26029
2    22301
5    16629
1    14337
6     7954
0     6254
7     2479
8     1920
Name: pessoas_moradia, dtype: int64

In [29]:
data.loc[
    (data['condicoes_salas_estudantes'] == 'Não-Informado') | 
    (data['condicoes_salas_estudantes'] == 'Outro') |
    (data['condicoes_salas_estudantes'] == 'Não se aplica'),
    'condicoes_salas_estudantes'
] = 0

data.loc[data['condicoes_salas_estudantes'] == 'Todas', 'condicoes_salas_estudantes'] = 4
data.loc[data['condicoes_salas_estudantes'] == 'Maior parte', 'condicoes_salas_estudantes'] = 3
data.loc[data['condicoes_salas_estudantes'] == 'Algumas', 'condicoes_salas_estudantes'] = 2
data.loc[data['condicoes_salas_estudantes'] == 'Nenhuma', 'condicoes_salas_estudantes'] = 1

data['condicoes_salas_estudantes'].value_counts()

4    58984
3    47720
2    14329
0     7335
1     4214
Name: condicoes_salas_estudantes, dtype: int64

In [30]:
data.loc[
    (data['condicoes_praticas_materiais'] == 'Não-Informado') | 
    (data['condicoes_praticas_materiais'] == 'Outro') |
    (data['condicoes_praticas_materiais'] == 'Não se aplica'),
    'condicoes_praticas_materiais'
] = 0

data.loc[data['condicoes_praticas_materiais'] == 'Todas', 'condicoes_praticas_materiais'] = 4
data.loc[data['condicoes_praticas_materiais'] == 'Maior parte', 'condicoes_praticas_materiais'] = 3
data.loc[data['condicoes_praticas_materiais'] == 'Algumas', 'condicoes_praticas_materiais'] = 2
data.loc[data['condicoes_praticas_materiais'] == 'Nenhuma', 'condicoes_praticas_materiais'] = 1

data['condicoes_praticas_materiais'].value_counts()

4    52889
3    46944
2    18170
0     7941
1     6638
Name: condicoes_praticas_materiais, dtype: int64

In [31]:
data.loc[
    (data['plano_ensino'] == 'Não-Informado') | 
    (data['plano_ensino'] == 'Outro') |
    (data['plano_ensino'] == 'Não se aplica'),
    'plano_ensino'
] = 0

data.loc[data['plano_ensino'] == 'Todos aspectos', 'plano_ensino'] = 4
data.loc[data['plano_ensino'] == 'Maior parte', 'plano_ensino'] = 3
data.loc[data['plano_ensino'] == 'Somente alguns', 'plano_ensino'] = 2
data.loc[data['plano_ensino'] == 'Nenhum', 'plano_ensino'] = 1

data['plano_ensino'].value_counts()

3    54361
4    52096
2    15786
0     6789
1     3550
Name: plano_ensino, dtype: int64

In [32]:
data.loc[
    (data['avaliacao_curso'] == 'Não-Informado') | 
    (data['avaliacao_curso'] == 'Outro') |
    (data['avaliacao_curso'] == 'Não se aplica'),
    'avaliacao_curso'
] = 0

data.loc[data['avaliacao_curso'] == 'Muito boa', 'avaliacao_curso'] = 5
data.loc[data['avaliacao_curso'] == 'Boa', 'avaliacao_curso'] = 4
data.loc[data['avaliacao_curso'] == 'Regular', 'avaliacao_curso'] = 3
data.loc[data['avaliacao_curso'] == 'Fraca', 'avaliacao_curso'] = 2
data.loc[data['avaliacao_curso'] == 'Muito fraca', 'avaliacao_curso'] = 1

data['avaliacao_curso'].value_counts()

5    52136
4    41771
3    25543
0     7033
2     3557
1     2542
Name: avaliacao_curso, dtype: int64

In [33]:
anos = [2008, 2011, 2014, 2017]

for ano in anos:
    dados = data[data['ano'] == ano]
    dados.to_csv(f'./data/not_norm/dados{ano}_nn.csv', index=False)